name: Release

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  check-manifest:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: check-manifest --hook-stage manual

  build-project:
    needs: check-manifest
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Build project
        run: |
          python -m pip install build
          python -m build

      - name: Store build files
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist/*
          retention-days: 5

  test-wheels:
    needs: build-project
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-24.04, macOS-14, windows-2022 ]
        python-version: [ "3.11", "3.12", "3.13" ]

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist

      - if: runner.os == 'Windows'
        name: Windows wheel filename
        run: echo "WHEELNAME=$(ls ./dist/aeon_neuro-*-none-any.whl)" >> $env:GITHUB_ENV
      - if: runner.os != 'Windows'
        name: Unix wheel filename
        run: echo "WHEELNAME=$(ls ./dist/aeon_neuro-*-none-any.whl)" >> $GITHUB_ENV

      - if: runner.os == 'Windows'
        name: Windows install
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install "${env:WHEELNAME}[all_extras,dev]"
      - if: runner.os != 'Windows'
        name: Unix install
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: python -m pip install "${{ env.WHEELNAME }}[all_extras,dev]"

      - name: Tests
        run: python -m pytest

  upload-wheels:
    needs: test-wheels
    runs-on: ubuntu-24.04

    environment:
      name: release
      url: https://pypi.org/p/aeon-neuro/
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
